<footer class="bg-white py-3 py-md-4 mt-auto">
    <div class="container-fluid">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between small">
            <div class="text-muted mb-2 mb-md-0">Copyright &copy; StoryMap Admin {{currentYear}}</div>
            <div>
                <a href="#" class="text-decoration-none">Chính sách bảo mật</a>
                &middot;
                <a href="#" class="text-decoration-none">Điều khoản &amp; Điều kiện</a>
            </div>
        </div>
    </div>
</footer>
